<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Sistema Clínico</title>
  
  <link rel="shortcut icon" th:href="@{/images/logo.png}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/vendors/mddatetimepicker/mdDateTimePicker.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/vendors/mcdatepicker/mc-calendar.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/vendors/sweetalert2/sweetalert2.min.css}" />

  <script defer th:src="@{/js/vendors/alpinejs/cdn.min.js}"></script>
  <script th:src="@{/js/scriptmenus.js}" defer></script>
  <script defer th:src="@{/js/vendors/htmx/htmx.min.js}"></script>
  <script defer th:src="@{/js/vendors/htmx/htmx-ext-response-targets.min.js}"></script>
  <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'>
  
  <script th:src="@{/js/vendors/maskmoney/simple-mask-money.umd.min.js}" defer></script>
  <script th:src="@{/js/vendors/mcdatepicker/mc-calendar.min.js}" defer></script>
  <script th:src="@{/js/vendors/mddatetimepicker/draggabilly.pkgd.min.js}" defer></script>
  <script th:src="@{/js/vendors/mddatetimepicker/moment.min.js}" defer></script>
  <script th:src="@{/js/vendors/mddatetimepicker/mdDateTimePicker.js}" defer></script>
  <script th:src="@{/js/vendors/sweetalert2/sweetalert2.all.min.js}" defer></script>
  
  <script th:src="@{/js/codigoninjadogodoi_Gemini_2.js}" defer></script>
</head>

<body hx-ext="response-targets">
  <div class="container flex h-screen min-w-full flex-col">
    <div th:replace="~{layout/fragments/header :: header}"></div>

    <section class="flex flex-1 overflow-hidden">
      <div th:replace="~{layout/fragments/sidebar :: sidebar}"></div>

      <div id="container-principal" class="flex-1 w-full h-full overflow-y-auto bg-gray-50 p-5">
         <th:block layout:fragment="conteudo"></th:block>
      </div>
    </section>

    <div th:replace="~{layout/fragments/rodape :: rodape}"></div>
  </div>
  
  <th:block layout:fragment="scripts"></th:block>
</body>
</html>