<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sistema Clínico</title>
</head>

<body>
  <div th:fragment="header">
    <header class="flex items-center justify-between bg-gray-800 p-4">
      <div class="md:hidden">
        <button id="menu-btn" type="button" class="hamburger z-40 block focus:outline-none md:hidden">
          <span class="hamburger-top"></span>
          <span class="hamburger-middle"></span>
          <span class="hamburger-bottom"></span>
        </button>
      </div>

      <a th:href="@{/}">
        <div class="flex items-center gap-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-teal-500 md:h-10 md:w-10" viewBox="0 0 24 24" fill="currentColor">
            <path d="M19 3H5C3.895 3 3 3.895 3 5V19C3 20.105 3.895 21 5 21H19C20.105 21 21 20.105 21 19V5C21 3.895 20.105 3 19 3ZM10 17V13H6V11H10V7H14V11H18V13H14V17H10Z"/>
          </svg>
          <div class="text-xl font-semibold text-gray-200 md:text-3xl">Sistema Clínico</div>
        </div>
      </a>

      <div class="hidden items-center md:flex">
        <div class="text-sm text-gray-300 md:text-xl">Administrador</div>
        <a href="#" class="ml-5 rounded-lg border-2 border-gray-600 bg-gray-700 px-6 py-2 text-white shadow-md hover:bg-white hover:text-gray-800 transition-colors"> Logout </a>
      </div>

      <div class="mr-1 text-gray-300 md:hidden">
        <button id="menu-usuario-btn" type="button" class="hamburger z-40 block focus:outline-none md:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
             <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
             <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </button>
      </div>
    </header>

    <div id="menu" class="absolute bottom-0 left-0 top-0 hidden min-h-screen w-full flex-col space-y-3 self-end bg-gray-800 py-1 pl-12 pt-40 text-lg text-gray-400 z-30">
      <th:block th:replace="~{layout/fragments/menu :: menu}"></th:block>
    </div>

    <div id="menu-usuario" class="absolute bottom-0 left-0 top-0 hidden min-h-screen w-full flex-col items-end space-y-3 self-end bg-gray-800 py-1 pr-12 pt-20 text-lg text-gray-400 z-30">
      <div class="text-gray-300">Administrador</div>
      <a href="#" class="ml-5 rounded-lg border-2 border-gray-600 bg-gray-600 px-8 py-2 text-white shadow-md hover:bg-white hover:text-gray-600"> Logout </a>
    </div>
  </div>
</body>
</html>