<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="menu-item-option(texto, url, svg)" class="flex items-center hover:text-white">
        <svg th:replace="${svg}"></svg>
        <a th:text="${texto}" 
           th:hx-get="${url}" 
           hx-target="#container-principal" 
           hx-swap="innerHTML" 
           class="cursor-pointer px-2 text-gray-400 hover:text-white block w-full">
           Cadastrar
        </a>
    </div>
</body>
</html>