<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Alterar Consulta</title>
</head>

<body>
    <main layout:fragment="conteudo" th:fragment="formulario" id="main" class="flex flex-col align-middle w-full m-10">

        <h1 class="text-xl md:text-2xl font-bold text-gray-800">Alterar Agendamento</h1>

        <form th:hx-post="@{/consulta/alterar}" 
              th:object="${consulta}" 
              data-validate="consulta-alterar"
              hx-target="#container-principal" 
              hx-swap="innerHTML" 
              class="w-full md:w-1/2 mt-10 space-y-4">

            <div class="flex gap-x-6">
                <div class="w-24">
                    <div th:replace="~{layout/fragments/forms :: inputSimplesComValor('Código', 'codigo', 'number', *{codigo}, true)}"></div>
                    <input type="hidden" th:field="*{codigo}">
                </div>
                
                <div class="flex-1">
                    <div th:replace="~{layout/fragments/forms :: inputValidado('Data', 'data', 'data')}"></div>
                </div>

                <div class="flex-1">
                    <div th:replace="~{layout/fragments/forms :: inputValidado('Horário', 'horario', 'time')}"></div>
                </div>
            </div>

            <div th:replace="~{layout/fragments/forms :: inputBuscavelValidado(
                textoLabel='Paciente',
                nomeAtributo='paciente',
                valorAtributo=${consulta.paciente != null ? consulta.paciente.codigo : -1},
                textoAtributo=${consulta.paciente != null ? consulta.paciente.nome : 'Selecione um paciente'},
                placeholderBusca='Buscar paciente pelo nome...',
                urlBusca='/consulta/pesquisarpaciente'
            )}"></div>

            <div th:replace="~{layout/fragments/forms :: inputBuscavelValidado(
                textoLabel='Médico',
                nomeAtributo='medico',
                valorAtributo=${consulta.medico != null ? consulta.medico.codigo : -1},
                textoAtributo=${consulta.medico != null ? consulta.medico.nome : 'Selecione um médico'},
                placeholderBusca='Buscar médico pelo nome...',
                urlBusca='/consulta/pesquisarmedico'
            )}"></div>

            <div class="mt-4 flex items-center gap-4">
                <button type="submit" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-teal-100 text-teal-800 hover:bg-teal-200 focus:outline-none focus:bg-teal-200 disabled:opacity-50 disabled:pointer-events-none transition-all">
                    Salvar Alterações
                </button>
                
                <a th:hx-get="@{/consulta/abrirpesquisa}" hx-target="#container-principal" class="text-gray-600 hover:text-gray-900 cursor-pointer font-medium text-sm">
                    Cancelar
                </a>
            </div>
        </form>

    </main>
</body>
</html>