<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Página Inicial</title>
</head>
<body>
    <main layout:fragment="conteudo" id="main" class="flex flex-col items-center justify-center w-full min-h-[80vh]">

        <h1 class="text-2xl md:text-4xl font-bold text-gray-700 text-center mb-6">
            Bem-vindo ao Sistema Clínico
        </h1>
        
        <p class="text-gray-500 text-lg mb-10 text-center max-w-2xl">
            Gerencie médicos, pacientes e consultas de forma simples e eficiente.
            Utilize o menu lateral para navegar.
        </p>

        <div class="mb-10 relative group">
            <div class="absolute -inset-1 bg-linear-to-r from-teal-400 to-blue-500 rounded-full blur opacity-25 group-hover:opacity-50 transition duration-1000 group-hover:duration-200"></div>
            
            <img style="height: 500px; width: 500px;" th:src="@{/images/logo-inicial.png}" 
                 alt="Logo Clínica" 
                 class="drop-shadow-2xl hover:scale-105 transition-transform duration-500 rounded-xl" />
        </div>

        <p class="text-gray-500 text-lg text-center">
            Selecione uma opção no menu lateral para começar.
        </p>

    </main>
</body>
</html>