<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Mostrar Pacientes</title>
</head>

<body>
    <main layout:fragment="conteudo" th:fragment="tabela" id="main" class="flex flex-col align-middle w-full m-10">

        <h1 class="text-xl md:text-2xl font-bold text-gray-800">Pacientes Pesquisados</h1>

        <h1 th:if="${pagina.vazia}" class="text-lg md:text-xl mt-5 text-gray-500">Nenhum paciente encontrado</h1>

        <div th:if="${not pagina.vazia}" class="flex flex-col mt-5">

            <div th:if="${notificacao != null}" th:object="${notificacao}">
                <input type="hidden" id="mensagemSA2" th:value="*{mensagem}">
                <input type="hidden" id="tipoSA2" th:value="*{tipo}">
                <input type="hidden" id="intervaloSA2" th:value="*{intervalo}">
            </div>

            <div class="overflow-x-auto shadow-md rounded-xl">
                <div class="min-w-full inline-block align-middle">
                    <div class="border rounded-xl overflow-hidden shadow">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'codigo', 'Cód.', '')}"></th>
                                    <th th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'nome', 'Nome', '')}"></th>
                                    <th th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'cpf', 'CPF', '')}"></th>
                                    <th th:replace="~{layout/fragments/paginacao :: coluna(${pagina}, 'dataNascimento', 'Nascimento', '')}"></th>
                                    
                                    <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase">Alterar</th>
                                    <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase">Excluir</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                                <tr th:each="paciente : ${pagina.conteudo}" class="hover:bg-gray-50 transition-colors">
                                    <td th:text="${paciente.codigo}" class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
                                    <td th:text="${paciente.nome}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">Fulano</td>
                                    <td th:text="${paciente.cpf}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">111.111.111-11</td>
                                    <td th:text="${{paciente.dataNascimento}}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">01/01/2000</td>
                                    
                                    <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                                        <a th:hx-get="@{/paciente/alterar/{codigo}(codigo=${paciente.codigo})}" 
                                           hx-target="#container-principal" 
                                           hx-swap="innerHTML" 
                                           class="text-blue-600 hover:text-blue-900 cursor-pointer inline-flex items-center justify-center"
                                           title="Editar Paciente">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                        </a>
                                    </td>

                                    <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                                        <a th:hx-get="@{/paciente/remover/{codigo}(codigo=${paciente.codigo})}" 
                                           hx-target="#container-principal" 
                                           hx-swap="innerHTML" 
                                           th:hx-confirm="${'Remover o paciente ' + paciente.nome + '?'}" 
                                           class="text-red-600 hover:text-red-900 cursor-pointer inline-flex items-center justify-center"
                                           title="Excluir Paciente">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:replace="~{layout/fragments/paginacao :: paginacao(${pagina})}"></div>
        </div>
    </main>
</body>
</html>